*.aar
*.jar
.gradle
.idea
.kotlin
.DS_Store
build/
local.properties
/app/libs/
/app/src/main/assets/exclave-core/*.dat
jniLibs/
go.work
go.work.sum
release.keystore
*.keystore
*.jks
*.pepk
*.bak
keystore/
key.md
*.key
_*.ps1
_*.py
_*.sh
